<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <!-- link rel="stylesheet" href="static/css/styles.css" -->
        <link rel="stylesheet" href="static/css/estilos.css">
    </head>
    <body>
        <header>
            <img src="static/images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <p>Lugar para poner barra de búsqueda</p><button><i class="fa-solid fa-magnifying-glass"></i></button>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>&nbsp;Comprá en cuotas y sin tarjeta de crédito</p>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta&nbsp;<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras&nbsp;<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <section>
            <img src="static/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>
        <main>
            <h1>Mercado Liebre</h1>
            <section>
                <h3 class="titulo">Basado en tu última visita</h3>
                <article>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </article>
            </section>
            <section>
                <h3 class="titulo">Ofertas</h3>
                <article>
                    <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </article>
                <article>
                    <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                </article>
                <article>
                    <img src="static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <i class="fa-solid fa-van-shuttle"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </article>
            </section>
        </main>
        <footer>
            <article>
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </article>
            <article>
                <i class="fa-solid fa-gift"></i>
                <h3>Envió gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </article>
            <article>
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
            <article>
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </footer>
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
    </body>
</html>