<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
</head>
<body>
    <form action="/users" method="post">
        <div class="principal">
            <label for="nombre">Ingrese su nombre:</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div class="cuerpo">
            <label for="color"></label>
            <select name="color" id="color"></select>
        </div>
    </form>
</body>
</html>